<div class="box" style="position: relative; width: 800px">
  Here is the map of mars
  <img src="http://gridbyexample.com/examples/code/arrow-top-left.png"
       alt="top left" class="topleft" />
  <img src="http://gridbyexample.com/examples/code/arrow-top-right.png"
       alt="top right" class="topright" />
  <img src="http://gridbyexample.com/examples/code/arrow-bottom-left.png"
       alt="bottom left" class="bottomleft" />
  <img src="http://gridbyexample.com/examples/code/arrow-bottom-right.png"
       alt="bottom right" class="bottomright" />
</div>
