<div id="footer_container" fxLayout="row">
  <div fxLayout="row" fxFlex="50" fxLayoutAlign="space-around center">
    <div>
      <span>Resource</span>
    </div>

    <div fxLayout="column" fxLayoutAlign="start center">
      <span>MegaCredits</span>
      <span>Amount: {{player.megaCredits}}</span>
      <span>Production: {{player.megaProduction}}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
      <span>Steel</span>
      <span>Amount:     {{player.steel}}</span>
      <span>Production: {{player.steelProduction}}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
      <span>Titanium</span>
      <span>Amount: {{player.titanium}}</span>
      <span>Production: {{player.titaniumProduction}}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
      <span>Plants</span>
      <span>Amount: {{player.plants}}</span>
      <span>Production: {{player.plantsProduction}}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
      <span>Energy</span>
      <span>Amount: {{player.energy}}</span>
      <span>Production: {{player.energyProduction}}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
      <span>Heat</span>
      <span>Amount: {{player.heat}}</span>
      <span>Production: {{player.heatProduction}}</span>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div fxLayout="row" fxFlex="50" fxLayoutAlign="start center">
    <div>
      <span>
        Resources<br>on cards
      </span>
    </div>
  </div>


</div>
